table#gatewaycl_tracking td,
table#gatewaycl_tracking td input {
    padding: 5px;
    text-align: center;
}

table#gatewaycl_tracking tr:first-child {
    background-color: #1e367c;
    color: #fef001;
}

table#gatewaycl_tracking tr:nth-child(2) {
    background-color: #1e367c;
}

table#gatewaycl_tracking tr:nth-child(3) {
    background-color: #1e367c;
    color: white;
}

table#gatewaycl_tracking tr:nth-child(5) {
    color: #5984b7;
}

table#gatewaycl_tracking tr:nth-child(7) {
    background-color: #1e367c;
    color: white;
    text-align: center;
}

table#gatewaycl_tracking [name="code"] {
    width: 50%;
}

table#gatewaycl_tracking [name="search"],
table.gatewaycl-export-schedule [type="submit"],
table.gatewaycl-export-schedule [type="reset"],
table.gatewaycl-import-schedule [type="submit"],
table.gatewaycl-import-schedule [type="reset"],
#gatewaycl_widget_import_schedule [type="submit"],
#gatewaycl_widget_import_schedule [type="reset"] {
    background-color: #fef001;
    color: #214099;
    padding: 5px 10px;
    cursor: pointer;
}

.from-to {
    text-align: center;
}

.from-to td:first-child,
.from-to td:last-child {
    height: 25px;
    width: 25px;
    background-color: #f56502;
    border-radius: 50%;
    display: inline-block;
}

.from-to td:nth-child(2) {
    vertical-align: baseline;
}

/* EXPORT */
.gatewaycl-export-schedule-form {
    text-align: center;
}

table.gatewaycl-export-schedule select {
    padding: 12px;
}

.gatewaycl-export-schedule-month-year td {
    text-align: center;
    padding: 20px 0 0;
}

.gatewaycl-export-schedule-departure td {
    padding: 0 30%;
    text-align: center;
}

.gatewaycl-export-schedule-departure div {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
}

.gatewaycl-export-schedule-static-message {
    color: red;
}

.gatewaycl-export-schedule-tables table td {
    border: 1px solid black;
}

.gatewaycl-export-schedule-tables .table-title {
    text-align: center;
    background-color: #fef001;
    font-weight: bolder;
}

.gatewaycl-export-schedule-tables .column-name {
    background-color: #214099;
    color: white;
    text-align: center;
}

.gatewaycl-export-schedule-tables .data td {
    text-align: center;
}

.gatewaycl-export-schedule-tables .table-direct {
    width: 49%;
    min-height: 300px;
}

.gatewaycl-export-schedule-tables td table:nth-child(odd) {
    float: right;
}

.gatewaycl-export-schedule-tables td table:nth-child(even) {
    float: left;
}

/* IMPORT */
.gatewaycl-import-schedule-form {
    text-align: center;
}

table.gatewaycl-import-schedule select {
    padding: 12px;
}

.gatewaycl-import-schedule-month-year td {
    text-align: center;
    padding: 20px 0 0;
}

.gatewaycl-import-schedule-departure td {
    padding: 0 30%;
    text-align: center;
}

.gatewaycl-import-schedule-departure div {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
}

.gatewaycl-import-schedule-static-message {
    color: red;
}

.gatewaycl-import-schedule-tables table td {
    border: 1px solid black;
}

.gatewaycl-import-schedule-tables .table-title {
    text-align: center;
    background-color: #fef001;
    font-weight: bolder;
}

.gatewaycl-import-schedule-tables .column-name {
    background-color: #214099;
    color: white;
    text-align: center;
}

.gatewaycl-import-schedule-tables .data td {
    text-align: center;
}

.gatewaycl-import-schedule-tables .table-direct {
    width: 49%;
    display: inline-flex;
}

#gatewaycl_widget_import_schedule {
    text-align: center;
}

#gatewaycl_widget_import_schedule select {
    padding: 12px;
}